body {
  font-family: Helvetica;
  background-image:url("http://eskipaper.com/images/awesome-healthy-wallpaper-1.jpg");
}

h1, h2{
  display: flex;
  justify-content: center;
  background: rgba(158, 158, 158, 0.7);
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

h4{
  display: flex;
  justify-content: center;
  background: rgba(85, 94, 245, 0.4);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#new-recipe-form {
  display: flex;
  /* 80% transparent bckgrnd with white */
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  justify-content: center;
  flex-flow: column;
  margin-left: 25%;
  margin-right: 25%;


}

#recipe-list {
  background: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
  margin: 20px;
}

.btn, #delete-all {
  font-size: 18px;
  padding: 5px;
}

li {
  list-style-type: none;
}
